.contactus-container
{
   margin-top: 5%;
   position: relative;
}
.contactus-title
{
  text-align: center;
  font-size: 100px;
  color:hsl(80, 28%, 52%);
  font-family:'Times New Roman', Times, serif;
}
.subtitle
{ 
  margin-bottom: 10%;
  color:hsl(80, 28%, 52%);
}
.socialmedia-insta-icon
{
   width: 43px;
   margin: 10%;
}
.socialmedia-fb-icon
{
  width: 50px; 
}
.socialmedia-tik-icon
{
    width: 40px;
   
}
.socialmedia-whats-icon
{
  width: 40px; 
}
.image-icons
{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons
{
  display: flex;
  align-items: center;
}
.links
{
  color:hsl(80, 85%, 79%);
}
.profile-image
{
    width: 500px;
    padding: 2%;
}
.story
{
  font-size: 25px;
  font-family:'Times New Roman', Times, serif;
  text-align:start;
  border-style: none;
  background-color: #8fa662;
  padding: 2%; 
  margin: 3%;    
}
.contactus-socialmedia
{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  background-color:#8fa662;
  padding:5%;
  margin-top: -7%;
}
.login-button{
text-align: center;
background-color:#8fa662;
}
@media only screen and (max-width:1300px)
{
  .contactus-title
  {
    font-size: 80px;
  }
  .story
  {
    font-size: 24px;
  }

}
@media only screen and (max-width:1100px)
{
  .contactus-title
  {
    font-size: 70px;
  }

}

@media only screen and (max-width:850px)
{
  .contactus-socialmedia
  {
  padding: 6%;
  }
  .contactus-title
  {
    font-size: 60px;
  }
}
@media only screen and (max-width:600px)
{
  .contactus-socialmedia
  {
  padding: 7%;
  }
  .contactus-title
  {
    font-size: 50px;
  }
  .profile-image{width: 450px;}
}
@media only screen and (max-width:450px)
{
  .contactus-socialmedia
  {
  padding: 6%;
  border-radius: 20%;
  }
  .profile-image{width: 400px;}
  .contactus-title
  {
    font-size: 40px;
  }
}

@media only screen and (max-width:400px)
{
  .contactus-socialmedia
  {
  padding: 0%;
  border-radius: 0%;
  }
  .contactus-title
  {
    font-size: 35px;
  }
  .profile-image{width:350px;}
}

@media only screen and (max-width:300px)
{
  .contactus-title
  {
    font-size: 30px;
  }
  .profile-image{width: 300px;}
}