.mission-image1{
    width:30%;
}

.mission-image2{
    width:30%;
}

.mission-item{
    display: flex;
    flex-direction: row-reverse;
}
.mission-title{
    text-align: center;
    font-size: 60px;
}
.mission-description{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.philosophy-image1{
    width:30%;
}

.philosophy-image2{
    width:30%;
}

.philosophy-item{
    display: flex;
    flex-direction: row-reverse;
}
.philosophy-title{
    text-align: center;
    font-size: 60px;
}
.philosophy-description{
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}